:root {
  font-family: system-ui, sans-serif;
  color: #242424;
  background: #fafafa;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 3rem;
}
